* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(../imagenes/Administrador.jpg);
    background-position: center;
    background-size: 100%;
}
.tablausuario {
    border-collapse: collapse;
    background-color: #ffffff;
    width: 40%;
    height: 100px;
}
.tablacabeza {
    background-color: #00ffff;
    border-bottom:solid 5px #808080;
}
th, td {
    border: #000000 2px solid;
    padding:10px;
}
tr:nth-child(even) {
    background: #808080;
}
.contenido:hover{
    background:#4cff00;
    color:white;
}

