*{
    box-sizing:border-box;
}
html,body{
    height:100%;
    margin:0;
    padding:0;
}
.fondo {
    background-image: url(../imagenes/FondoTienda.jpg);
    background-position: center center;
    
}
.contenidologin {
    display: flex;
    justify-content: center;/*centrar el cuadro*/
    align-items: center;/*centrar las barras*/
    height:90vh;
    gap: 60px;
}
.botonmaster{
    background-color: cornflowerblue;
    border:0;
    padding:8px;
    color:white;
    border-radius:32px;/*darle forma circular al botón*/
}
.botonmaster:hover { /*al pasar el cursor sobre el botón*/
    border: 2px solid #4cff00;
    padding: 6px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
.contenido {
    display: flex;
    flex-direction: column;/*Ordenar los elementos en columnas*/
    align-items: center;
    background-color:#fff;
    padding:32px;
}


