
@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_LayoutLogin";
}
@model Moldes.Usuarios.Usuario

<html lang="es-mx">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/EstilosLogin.css"/>
    </head>
    <body class="fondo">
        <div class="contenidologin">
        <form id="datosusuario" asp-controller="InicioDeSesion" asp-action="Login" method="post">
            <div class="contenido">
                <input id="Usuario" type="email" class="form-control" placeholder="Usuario" asp-for="Correo"/>
                <br />
                <input id="Contrasena" type="password" class="form-control" placeholder="Contraseña" asp-for="Contraseña"/>
                <br />
                <button id="Boton" class="botonmaster" onclick="loginjava()">Iniciar Sesión</button>
             
            </div>
        </form>
        </div>
    @section scripts{
        <script src="~/js/VentanaMensaje.js">
        </script>
    }
    </body>
</html>

