
@{
    ViewData["Title"] = "Usuario";
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/EstilosVentanaAdmin.css"/>
</head>
<body class="fondo">
    <h1>puto</h1>

    @section scripts{
        <script src="~/js/VentanaMensaje.js">
        </script>
    }
</body>
</html>
